@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Helvetica Neue Normal";
  src: url("/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manic 2 Alternates";
  src: url("/fonts/MANIC-Alternates2.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manic 1 Alternates";
  src: url("/fonts/MANIC-Alternates1.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary: #f9f9f9;
  --color-accent: #ff0000;
  --color-black: #000000;

  /*Typografi */
  --font-display: "League Gothic", sans-serif;
  --font-sans: "Helvetica Neue Normal", sans-serif;
  --font-script: "Manic 2 Alternates", sans-serif;
  --font-script-variation: "Manic 1 Alternates", sans-serif;

  /* Desktop spacing tokens */
  --space-desk-xs: 4px;
  --space-desk-sm: 16px;
  --space-desk-md: 24px;
  --space-desk-lg: 36px;
  --space-desk-xl: 96px;
  --space-desk-xxl: 224px;

  /* Mobile spacing tokens */
  --space-mob-xxs: 4px;
  --space-mob-xs: 16px;
  --space-mob-sm: 24px;
  --space-mob-md: 36px;
  --space-mob-lg: 48px;
  --space-mob-xl: 64px;
  --space-mob-xxl: 128px;
}

@layer base {
}

@layer components {
}

@layer utilities {
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
