---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Titel">
  <main>
    <!-- Start sætning img sektion-->
    <!-- MOBIL VERSION -->
    <section
      class="flex flex-col items-center gap-[var(--space-mob-md)] md:hidden uppercase w-fit mx-auto"
    >
      <div class="flex items-center gap-7">
        <Heading style="h4">Autopoul is</Heading>
        <img src="/img/Spot.webp" class="w-[97px] h-[120px] object-cover" />
      </div>

      <Heading style="h4">The spot where coffee</Heading>

      <img src="/img/Coffee.webp" class="w-[156px] h-[76px] object-cover" />

      <Heading style="h4">Meets natural wine</Heading>

      <div class="flex items-center gap-7">
        <img src="/img/Wine.webp" class="w-[129px] h-[79px] object-cover" />
        <Heading style="h4">And time</Heading>
      </div>

      <div class="flex items-center gap-7 pb-[var(--space-mob-xl)]">
        <Heading style="h4">Stands still</Heading>
        <img src="/img/Time.webp" class="w-[147px] h-[76px] object-cover" />
      </div>

      <Link variant="cta" color="accent" href="/menu">Menu</Link>
    </section>
    <!-- SLUT MOBIL VERSION -->

    <!-- START DESK VERSION -->
    <section
      class="hidden md:flex flex-col items-center gap-[var(--space-desk-md)] uppercase w-fit mx-auto"
    >
      <!-- Række 1: -->
      <div class="flex items-center gap-7">
        <Heading style="h4">
          <span class="relative group cursor-pointer inline-block">
            <span class="group-hover:opacity-0">Autopoul</span>
            <img
              src="/img/Autopoul.webp"
              class="absolute inset-0 opacity-0 group-hover:opacity-100 w-[163.15px] h-[54.29px] object-contain"
            />
          </span>
          is
        </Heading>
        <img
          src="/img/Spot.webp"
          class="w-[137px] h-[170px] object-cover"
          onmouseover="this.src='/img/Spot2.webp'"
          onmouseout="this.src='/img/Spot.webp'"
        />
        <Heading style="h4">The spot where coffee</Heading>
      </div>

      <!-- Række 2 -->
      <div class="flex items-center gap-7">
        <img
          src="/img/Coffee.webp"
          class="w-[243px] h-[115px] object-cover"
          onmouseover="this.src='/img/Coffee2.webp'"
          onmouseout="this.src='/img/Coffee.webp'"
        />
        <Heading style="h4">Meets natural wine</Heading>
        <img
          src="/img/Wine.webp"
          class="w-[189px] h-[115px] object-cover"
          onmouseover="this.src='/img/Wine2.webp'"
          onmouseout="this.src='/img/Wine.webp'"
        />
        <Heading style="h4">And time</Heading>
      </div>

      <!-- Række 3: -->
      <div class="flex items-center gap-7 pb-[var(--space-desk-xl)]">
        <img src="/img/Time.webp" class="w-[263px] h-[125px] object-cover" />
        <Heading style="h4">Stands still</Heading>
      </div>
      <Link variant="cta" color="accent" href="/menu">Menu</Link>
    </section>
    <!-- SLUT DESK VERSION -->
    <!-- Slut sætning img sektion-->

    <!-- Start sektion video vin -->
    <section
      class="grid grid-cols-1 md:grid-cols-2 mx-auto gap-[var(--space-mob-sm)] md:gap-[var(--space-desk-sm)] text-accent"
    >
      <!-- Øverste/venstre billede med tekst -->
      <div class="relative">
        <img
          src="/img/winevideo1.webp"
          class="w-[380px] h-[243px] object-cover md:w-[707px] md:h-[550px]"
        />
        <div
          class="absolute top-[10px] left-[10px] md:top-[25px] md:left-[25px]"
        >
          <Heading style="h3">
            WHEN <br />
            Tue-Wed: 10-22 <br />
            Thu-Sat: 10-23:30 <br />
            Sun: 10-20
          </Heading>
        </div>
      </div>

      <!-- Nederste/højre billede med tekst -->
      <div class="relative">
        <img
          src="/img/winevideo2.webp"
          class="w-[380px] h-[243px] object-cover md:w-[707px] md:h-[550px]"
        />
        <div
          class="absolute top-[10px] right-[10px] md:top-[25px] md:right-[25px] text-right"
        >
          <Heading style="h3">
            WHERE <br />
            Hejrevej 31 <br />
            Copenhagen NV
          </Heading>
        </div>
      </div>
    </section>

    <!-- Slut sektion video vin -->
  </main>
</MainLayout>
